html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.footer {
    position: absolute;
    bottom:0;
    width:100%;
    background-color: grey;
}

.footer p {
    display: inline-block;
    font-size: .85em;
    color:#70757a;
}

.container {
    max-width: 1600px;
    padding: 0 50px;
    background: #f2f2f2;
}

.footer-links ul {
    padding: 0;
}

.footer-links ul li {
    display: inline-block;
    padding-right: 15px;
    font-size: .85em;
    color: #70757a;
}

.footer-links ul li a {
    color: #70757a;
    margin: 0;
}
